.Tilt {
  background: linear-gradient(to right, rgba(240, 183, 161, 1) 0%, rgba(140, 51, 16, 1) 50%, rgba(117, 34, 1, 1) 51%, rgba(191, 110, 78, 1) 100%);
}

.size {
  height: 125px;
  width: 125px;
}
